{% extends 'base.html.twig' %}
{# templates/security/login.html.twig #}
{% block title %}
  Login!
{% endblock %}

{% block body %}
  <h1>DÉJÀ CLIENT? IDENTIFIEZ-VOUS</h1>

  {% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
  {% endif %}

  <form method="post">
    {% if error %}
      <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
      <div class="mb-3">
        Bonjour {{ app.user.prenom }}, 
        {# Roles:
        <pre>
            {{ dump( app.user.getRoles()) }}
        </pre> #}

        <a href="{{ path('app_logout') }}">Se déconnecter</a>
      </div>
    {% endif %}

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" value="{{ last_username }}" required class="form-control" autocomplete="email" autofocus placeholder="Votre email" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required class="form-control" autocomplete="current-password" placeholder="Votre mot de passe" />
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

    <div class="form-group form-check">
      <input type="checkbox" name="_remember_me" id="_remember_me" class="form-check-input" />
      <label for="_remember_me" class="form-check-label">Remember me</label>
    </div>

    <button class="btn btn-primary" type="submit">Me connecter</button>
  </form>
{% endblock %}
