{# templates/security/login_register.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
  Connexion ou inscription
{% endblock %}

{% block body %}
  <h1 class="text-hidden d-none">Login ou Création de compte</h1>
  <div class="container mt-3>
    <div class="row">
       <div class="col-lg-12 d-flex justify-content-between flex-column flex-lg-row align-items-center mt-1">
        <h2>DÉJÀ CLIENT? IDENTIFIEZ-VOUS </h2>
        {# ce titre apparait que sur les grands écrans #}
        <h2 class="d-none d-lg-block text-center mr-6">-- ou --</h2>
        <h2 class="d-none d-lg-block text-left">CRÉEZ VOTRE COMPTE</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-12  mt-4">
        <form method="post" class="mt-1">
          {# Affiche un message d'erreur si une erreur de connexion est présente #}
          {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security')|replace({ 'Invalid credentials.': 'Identifiants invalides.' }) }}</div>
          {% endif %}

          {# Affiche un message de bienvenue si l'utilisateur est déjà connecté #}
          {% if app.user %}
            <div class="mb-3">
              Bonjour {{ app.user.prenom }},
              <a href="{{ path('app_logout') }}" style="margin-left: 10px;">Se déconnecter</a>
            </div>
          {% endif %}
          {# Zone de connexion #}
          <div class="form-group">
            <input type="email" name="email" id="email" value="{{ last_username }}" required class="form-control" autocomplete="email" autofocus placeholder="Votre email" />
          </div>
          <div class="form-group position-relative">
            <div>
              <input type="password" name="password" id="password" required class="form-control" autocomplete="current-password" placeholder="Votre mot de passe" />
              <span class="password-toggle" onclick="togglePasswordVisibility()"><i class="fa fa-eye text-danger"></i></span>
            </div>
          </div>

          <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

          <div class="form-group form-check">
            <input type="checkbox" name="_remember_me" id="_remember_me" class="form-check-input" />
            <label for="_remember_me" class="form-check-label">Se souvenir de moi</label>
          </div>

          <button class="btn btn-lg btn-danger w-100" type="submit">Me connecter</button>
        </form>
      </div>

      {# Ligne vertical qui sépare les deux forms #}
      <div class="col-md-auto d-flex justify-content-center align-items-center px-0">
        <div class="border-left border-secondary" style="height: 100%; width: 1px;"></div>
      </div>

      {# PARTIE REGISTRATION FORM #}
      <div class="col-lg-6 col-md-12">
        <div>
          <!-- Ce texte "CRÉEZ VOTRE COMPTE" sera visible uniquement sur les petits écrans -->
          <h2 class="d-lg-none text-center">CRÉEZ VOTRE COMPTE</h2>
          <p>Veuillez remplir les champs :</p>
        </div>
        {# Affiche les messages d'erreur de flash #}
        {% for flash_error in app.flashes('error') %}
          <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        {# Début du formulaire d'inscription #}
        {{ form_start(registrationForm, { action: path('app_register') }) }}
        {# Affiche les messages de succès de flash #}
        {% for flash_success in app.flashes('success') %}
          <div class="alert alert-success" role="alert">{{ flash_success }}</div>
        {% endfor %}

        <div class="form-group">
          {% for child in registrationForm.genre %}
            <div class="form-check form-check-inline">{{ form_widget(child, { attr: { class: 'form-check-input' } }) }}
              {{ form_label(child, null, { label_attr: { class: 'form-check-label text-white' } }) }}</div>
          {% endfor %}
          <div class="invalid-feedback d-block">{{ form_errors(registrationForm.genre) }}</div>
        </div>

        <div class="form-group">
          {{ form_widget(registrationForm.nom) }}
          <div class="invalid-feedback">{{ form_errors(registrationForm.nom) }}</div>
        </div>
        <div class="form-group">
          {{ form_widget(registrationForm.prenom) }}
          <div class="invalid-feedback">{{ form_errors(registrationForm.prenom) }}</div>
        </div>
        <div class="form-group">
          {{ form_widget(registrationForm.email) }}
          <div class="invalid-feedback">{{ form_errors(registrationForm.email) }}</div>
        </div>
        <div class="form-group position-relative">
          {{ form_widget(registrationForm.plainPassword.first) }}
          <span class="password-toggle" onclick="togglePasswordVisibility()" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;"><i class="fa fa-eye text-danger"></i></span>
          <div class="invalid-feedback">{{ form_errors(registrationForm.plainPassword.first) }}</div>
        </div>
        <div class="form-group position-relative">
          {{ form_widget(registrationForm.plainPassword.second) }}
          <span class="password-toggle" onclick="togglePasswordVisibility()" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;"><i class="fa fa-eye text-danger"></i></span>
          <div class="invalid-feedback">{{ form_errors(registrationForm.plainPassword.second) }}</div>
        </div>
        <div class="form-group">
          {{ form_widget(registrationForm.telephone) }}
          <div class="invalid-feedback">{{ form_errors(registrationForm.telephone) }}</div>
        </div>
        <div class="form-group">
          {{ form_widget(registrationForm.adresse) }}
          <div class="invalid-feedback">{{ form_errors(registrationForm.adresse) }}</div>
        </div>
        <div class="form-group">
          {{ form_widget(registrationForm.code_postal) }}
          <div class="invalid-feedback">{{ form_errors(registrationForm.code_postal) }}</div>
        </div>
        <div class="form-group">
          {{ form_widget(registrationForm.ville) }}
          <div class="invalid-feedback">{{ form_errors(registrationForm.ville) }}</div>
        </div>
        <div class="form-group">
          {{ form_widget(registrationForm.pays) }}
          <div class="invalid-feedback">{{ form_errors(registrationForm.pays) }}</div>
        </div>
        <button class="btn btn-lg btn-danger w-100">Créer mon compte</button>
        {{ form_end(registrationForm) }}
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  <script>
    var mespasswords = document.querySelectorAll("input[type='password']")
    function togglePasswordVisibility() {
      console.log(allAreText)
      var allAreText = Array.from(mespasswords).every((input) => input.type === 'text')
      mespasswords.forEach((input) => {
        // Change le type du champ de mot de passe entre 'password' et 'text'
        input.type = allAreText ? 'password' : 'text'
        console.log(allAreText)
      })
    }
  </script>
{% endblock %}
