{# templates/main/alimentation_detail.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
  Alimentation
{% endblock %}

{% block body %}
  <div class="container mt-5">
    {# Le nom de la sous Categorie, sino Alimentation (caché) #}
    <h1 class="text-center">{{ sousCategorie }}</h1>

    <div class="section text-yellow">
      <p>Venez visiter la boutique pour connaître la gamme complète du mois. Vous trouverez des nouveautés tous les jours</p>
      <p>N’HÉSITEZ PAS À NOUS DEMANDER QUEL EST LE PLAT DE LA SEMAINE!</p>
    </div>

    {# Barre de recherche de produit: "Cherche un produit" query: nom, nomES using function findSomesByNomNomEs #}
    <div class="row">
      {% for produit in pagination %}
        <div class="col-md-4 col-sm-6 mb-4">
          <div class="card bg-light text-black d-flex flex-column">
            <div class="card-img-top" style="height: 56%;">
              <img src="{{ produit.photo1 ? asset('images/' ~ produit.photo1) : asset('images/default.jpeg') }}" class="img-fluid h-100 w-100 object-fit-cover" alt="{{ produit.nom }}" data-toggle="modal" data-target="#imageModal{{ loop.index }}" />
            </div>

            <div class="card-body bg-black d-flex flex-column">
              <h2 class="card-title" style="font-size: 1.2rem;">{{ produit.nom }}</h2>
              <p>{{ produit.description }}</p>
            </div>
          </div>

          <div class="modal fade" id="imageModal{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel{{ loop.index }}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h2 class="modal-title text-light" id="imageModalLabel{{ loop.index }}">{{ produit.nom }}</h2>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                  <img src="{{ produit.photo1 ? asset('images/' ~ produit.photo1) : 'default.jpeg' }}" class="img-fluid" alt="{{ produit.nom }}" />
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="pagination">{{ knp_pagination_render(pagination) }}</div>
    {% include 'components/findUs.html.twig' %}
  </div>
{% endblock %}
