{% extends 'base.html.twig' %}
{# templates/main/contact.html.twig #}
{% block title %}
    Contactez-nous
{% endblock %}
{% block meta_description %}
    Page Contact de La Momposina Tienda Latina - épicerie Latino à Grenoble.
{% endblock %}
{% block body %}
    <div class="container-fluid bg-dark-subtle pt-3">
        <h1 class="text-center mb-4">
            Contactez-nous
        </h1>
        <div class="row no-gutters">
            <div class="col-md-7 align-items-center">
                {{ form_start(form) }}
                <div class="form-group w-75 mb-3">
                    {{ form_label(form.name, null, {'label_attr': {'class': 'form-label' }}
                    ) }}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Nom et Prénom', 'aria-label': 'Nom et Prénom' }}
                    ) }}
                    <span class="invalid-feedback d-none" role="alert"></span>
                    {{ form_errors(form.name) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_label(form.email, null, {'label_attr': {'class': 'form-label' }}
                    ) }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email', 'aria-label': 'Email' }}
                    ) }}
                    <span class="invalid-feedback d-none" role="alert"></span>
                    {{ form_errors(form.email) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_label(form.telephone, null, {'label_attr': {'class': 'form-label' }}
                    ) }}
                    {{ form_widget(form.telephone, {'attr': {'class': 'form-control', 'placeholder': 'Téléphone', 'aria-label': 'Téléphone' }}
                    ) }}
                    <span class="invalid-feedback d-none" role="alert"></span>
                    {{ form_errors(form.telephone) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_label(form.subject, null, {'label_attr': {'class': 'form-label' }}
                    ) }}
                    {{ form_widget(form.subject, {'attr': {'class': 'form-control', 'placeholder': 'Objet', 'aria-label': 'Objet' }}
                    ) }}
                    <span class="invalid-feedback d-none" role="alert"></span>
                    {{ form_errors(form.subject) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_label(form.message, null, {'label_attr': {'class': 'form-label' }}
                    ) }}
                    {{ form_widget(form.message, {'attr': {'class': 'form-control', 'placeholder': 'Message', 'aria-label': 'Message' }}
                    ) }}
                    <span class="invalid-feedback d-none" role="alert"></span>
                    {{ form_errors(form.message) }}
                </div>
                <div class="form-check mb-3">
                    {{ form_widget(form.privacyPolicyAccepted, {'attr': {'class': 'form-check-input', 'aria-label': 'Accepter la politique de confidentialité' }}
                    ) }}
                    {{ form_label(form.privacyPolicyAccepted, null, {'label_attr': {'class': 'form-check-label' }}
                    ) }}
                    <span class="invalid-feedback d-none" role="alert"></span>
                    {{ form_errors(form.privacyPolicyAccepted) }}
                </div>
                <div class="mb-3">
                    {{ form_widget(form.send, {'attr': {'class': 'btn btn-lg btn-primary w-100', 'aria-label': 'Envoyer' }}
                    ) }}
                </div>
                {{ form_end(form) }}
            </div>
            <div class="col-md-5 d-flex justify-content-center align-items-center">
                <div class="image-container mt-2 w-80 h-80 text-center">
                    <img src="{{ asset('images/contact/MomposinaFondatrices.jpeg') }}" alt="Contact Image" class="img-fluid mb-3" />
                    <p class="fw-bold ps-3">
                        LA TIENDA MOMPOSINA SARL
                    </p>
                    <p class="ps-3">
                        107 Cours Jean Jaurès - GRENOBLE
                    </p>
                    <div class="mb-2">
                        <p class="fw-bold">
                            <img src="{{ asset('icons/telephone-inbound-fill.svg') }}" alt="Téléphone" class="me-2" />
                            Téléphone :
                        </p>
                        <p class="ps-2 mb-0">
                            + 33 4 57 93 31 47
                        </p>
                        <p class="ps-2">
                            + 33 6 12 02 34 35
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-muted text-sm mt-3 m-2">
            Les informations saisies sur ce formulaire seront communiquées au propriétaire de ce site via email.
                Vous pouvez exercer vos droits relatifs à vos données personnelles (accès, effacement, rectification,
                portabilité...) directement depuis ce formulaire de contact. Le propriétaire du site est informé qu’il
            dispose d’un mois pour vous répondre. Pour en savoir plus sur la protection de vos données personnelles.
        </p>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-3">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <section class="find-us mt-4">
        {% include 'components/findUs.html.twig' %}
    </section>
{% endblock %}
{% block javascripts %}
    <script>
    document.addEventListener('DOMContentLoaded', () => {
        // Fonction pour valider un champ spécifique
        const validateField = (input, regex, errorMessage) => {
            const errorSpan = input.nextElementSibling;
            if (!regex.test(input.value)) {
                input.classList.add('is-invalid');
                errorSpan.textContent = errorMessage;
                errorSpan.classList.remove('d-none');
            } else {
                input.classList.remove('is-invalid');
                errorSpan.textContent = '';
                errorSpan.classList.add('d-none');
            }
        };

        // Récupérer les champs à valider
        const nameField = document.querySelector('#contact_name');
        const emailField = document.querySelector('#contact_email');
        const phoneField = document.querySelector('#contact_telephone');
        const subjectField = document.querySelector('#contact_subject');
        const messageField = document.querySelector('#contact_message');

        // Ajouter les écouteurs d'événements
        nameField.addEventListener('input', () => {
            validateField(
                nameField,
                /^[a-zA-ZÀ-ÿ\s'-]+$/,
                'Nom et prénom invalide. Utilisez uniquement des lettres.'
            );
        });

        emailField.addEventListener('input', () => {
            validateField(
                emailField,
                /^[^\s@]+@[^\s@]+\.[^\s@]+$/,
                'Veuillez saisir une adresse email valide.'
            );
        });

        phoneField.addEventListener('input', () => {
            validateField(
                phoneField,
                /^[0-9\s+-]+$/,
                'Numéro de téléphone invalide. Utilisez uniquement des chiffres et des symboles "+" ou "-".'
            );
        });

        subjectField.addEventListener('input', () => {
            validateField(
                subjectField,
                /^.{2,}$/,
                'Le sujet doit contenir au moins 2 caractères.'
            );
        });

        messageField.addEventListener('input', () => {
            validateField(
                messageField,
                /^.{10,}$/,
                'Le message doit contenir au moins 10 caractères.'
            );
        });
    });
</script>
{% endblock %}
