{% extends 'base.html.twig' %}
{# templates/main/galerie.html.twig #}
{% block title %}Galerie{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center">Galerie</h1>

    <div class="text-yellow">
        <p>Bienvenue dans notre galerie virtuelle ! Plongez au cœur de l’Amérique Latine en explorant notre magasin Momposina Tienda Latina. </p>
        <p>Chaque rayon est une fenêtre ouverte sur les richesses culturelles et gastronomiques de cette région. Découvrez une sélection variée de produits authentiques : épices exotiques, boissons traditionnelles, confiseries typiques, et bien plus encore. Nos étagères colorées et nos arômes envoûtants vous transporteront directement dans les marchés animés de l’Amérique Latine.</p>
        <p> N’HÉSITEZ PAS À NOUS DEMANDER QUEL EST LE PLAT DE LA SEMAINE!</p>
    </div>

    <div class="row">
        {% for image in images %}
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <img src="{{ asset(image.src) }}" class="img-fluid rounded fixed-size-image" alt="{{ image.alt }}" data-toggle="modal"
                data-target="#imageModal{{ loop.index }}"/>

            <div class="modal fade" id="imageModal{{ loop.index }}" tabindex="-1" role="dialog"
                aria-labelledby="imageModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <img src="{{ asset(image.src) }}" class="modal-body img-fluid">
                    </div>
                </div>
            </div>            
        </div>            
        {% endfor %}
    </div>            
</div>

{% include 'components/findUs.html.twig' %}
{% endblock %}