{% extends 'base.html.twig' %}

{% block title %}Liste des Événements{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center">Liste des Événements</h1>

    <div class="section yellow-paragraph">
        <ul class="text-yellow">
            Découvrez tous les événements que La Momposina Tienda Latina vous propose tout le long de l'année :
            <li> Repas, concerts, rencontres.</li>
            <li> Fiesta Latina tout autour de l’environnement « Latino Grenoble » !</li>
        </ul>
    </div>

    <div class="event-list row">
        {# {% for evenement in pagination.items %} #}
        {% for evenement in evenements %}
        <div class="col-md-6 col-sm-12 mb-4">
            <div class="event-card card bg-dark text-white">
                <div class="card-header bg-gradient-gray text-white event-date">
                    <span>{{ evenement.date ? evenement.date|date('l j F Y', 'Europe/Paris') : 'Pas de date' }}</span>
                </div>
                <img src="{{ evenement.photo1 ? asset('images/' ~ evenement.photo1) : 'default.jpg' }}"
                    class="card-img-top event-photo" alt="{{ evenement.titre }}" data-bs-toggle="modal"
                    data-bs-target="#imageModal{{ loop.index }}"/>

                <div class="card-body bg-white">
                    <div class="row mb-1">
                        <div class="col-12 mb-0 mt-0">
                            <h5 class="card-title text-primary event-title">{{ evenement.titre }}</h5>
                        </div>
                        <div class="col-12 text-end mt-2 mb-2">
                            <button class="btn btn-danger w-100">Réserver</button>
                        </div>
                    </div>
                    <div class="row bg-secondary py-2 event-details">
                        <div class="col-12">
                            <p><i class="fas fa-align-left"></i> {{ evenement.description }}</p>
                            <p><i class="fas fa-clock"></i> {{ evenement.plageHeure }}</p>
                            <p><i class="fas fa-map-marker-alt"></i> {{ evenement.lieu }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="imageModal{{ loop.index }}" tabindex="-1"
            aria-labelledby="imageModalLabel{{ loop.index }}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="imageModalLabel{{ loop.index }}">{{ evenement.titre }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="{{ evenement.photo1 ? asset('images/' ~ evenement.photo1) : 'default.jpg' }}"
                            class="img-fluid" alt="{{ evenement.titre }}"/>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>

    {% include 'components/findUs.html.twig' %}
</div>
{% endblock %}