{% extends 'base.html.twig' %}

{# templates/main/mainEvenement.html.twig #}

{% block title %}
  Événements - La Momposina Tienda Latina
{% endblock %}

{% block meta_description %}
  Découvrez tous les événements que La Momposina Tienda Latina vous propose tout au long de l'année : repas, concerts, rencontres, et Fiesta Latina autour de l'environnement « Latino Grenoble ».
{% endblock %}

{% block body %}
  <div class="container-fluid p-0">
    <div class="bg-light text-center py-4">
      <h1 class="text-center pb-2">Événements</h1>
      <p class="lead">
      Découvrez tous les événements que La Momposina Tienda Latina vous propose tout au long de l'année :<br>
      Repas, concerts, rencontres,...<br>
      Fiesta Latina autour de l’environnement « Latino Grenoble » !
      </p>
    </div>

    <div class="row bg-light p-2 mt-0">
      {% for evenement in pagination %}
        <div class="col-md-6 col-sm-12 mb-3 p-2">
          <div class="card rounded-top h-100 d-flex flex-column">
            <div class="card-header text-primary text-center">{{ evenement.titre starts with 'Programme' ? evenement.titre : evenement.date|date('Y-m-d')|date_en_lettres }}</div>
            <div class="card-img-top">
              <img src="{{ evenement.photo1 ? asset('images/' ~ evenement.photo1) : asset('images/default.jpeg') }}" alt="{{ evenement.titre }}" class="img-fluid h-auto w-100 object-fit-cover" width="400" height="200" loading="lazy" />
            </div>
            <div class="card-body d-flex flex-column flex-grow-1">
              <h2 class="card-title text-primary">{{ evenement.titre }}</h2>
              <p>
                <i class="fas fa-align-left"></i> {{ evenement.description }}
              </p>
              <div class="d-flex justify-content-between">
                <p>
                  {% if evenement.plageHeure %}
                    <i class="fas fa-clock"></i> <span class="mr-4">{{ evenement.plageHeure }}</span>
                  {% endif %}
                </p>
                <p>
                  {% if evenement.prix > 0 %}
                    <span><i class="fas fa-euro-sign"></i> {{ evenement.prix|number_format(2, ',', ' ') }}</span>
                  {% else %}
                    <span>Gratuit</span>
                  {% endif %}
                </p>
              </div>
              <p>
                <i class="fas fa-map-marker-alt"></i> {{ evenement.lieu }}
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="pagination bg-light mt-0 mb-3 p-2 pr-0">{{ knp_pagination_render(pagination) }}</div>

    {% include 'components/findUs.html.twig' %}
  </div>
{% endblock %}
