{% extends 'base.html.twig' %}

{# templates/main/mainEvenement.html.twig #}

{% block title %}
	Événements - La Momposina Tienda Latina
{% endblock %}

{% block meta_description %}
	Découvrez tous les événements que La Momposina Tienda Latina vous propose tout au long de l'année : repas, concerts, rencontres, et Fiesta Latina autour de l'environnement « Latino Grenoble ».
{% endblock %}

{% block body %}
	<div class="container-fluid p-0">
		<div class="bg-light text-center py-4">
			<h1 class="text-center pb-2">Événements</h1>
			<p class="lead">
				Découvrez tous les événements que La Momposina Tienda Latina vous propose tout au long de l'année:<br/>
				Repas, concerts, rencontres,...<br/>
				Fiesta Latina autour de l’environnement « Latino Grenoble » !
			</p>
		</div>

		<div class="row justify-content-center bg-light p-2 mt-0">
			{% for evenement in pagination %}
				<div class="col-md-6 col-sm-12 mb-3 p-2 d-flex justify-content-center">
					<div class="card rounded-top h-100 d-flex flex-column">
						<div class="card-header card-header-gradient txt-primary text-center">{{ evenement.titre starts with 'Programme' ? evenement.titre : evenement.date|date('Y-m-d')|date_en_lettres }}</div>
						<div class="card-img-top text-center">
                            <img src="{{ evenement.photo1 ? asset('images/' ~ evenement.photo1) : asset('images/default.jpeg') }}"
                                 alt="Affiche de:{{ evenement.titre }}"
                                 class="img-fluid"
                                 loading="lazy"
                                 title="{{ evenement.titre }} - {{ evenement.date|date('Y-m-d') }}"
                                 aria-label="{{ evenement.titre }} - {{ evenement.date|date('Y-m-d') }}">
						</div>
						<div class="card-body text-gray d-flex flex-column flex-grow-1">
							<h2 class="card-title text-primary">{{ evenement.titre }}</h2>
							<p class="text-center">
								{{ evenement.description }}
							</p>
							<div class="d-flex justify-content-between">
								{% if evenement.plageHeure %}
									<p class="d-flex">
										<img src="{{ asset('icons/clock.svg') }}" alt="Heure">
										<span>{{ evenement.plageHeure}}     </span>
									</p>
								{% endif %}
								{% if evenement.prix is defined and evenement.prix > 0 %}
									<p class="d-flex">
										<img src="{{ asset('icons/currency-euro.svg') }}" alt="Prix en euros">
										<span>{{ evenement.prix|number_format(2, ',', ' ') }}</span>
									</p>
								{% else %}
									<p class="d-flex">
										<span>Gratuit</span>
									</p>
								{% endif %}
							</div>

							<p>
								<img src="{{ asset('icons/geo-alt.svg') }}" alt="Lieu">
								{{ evenement.lieu }}
							</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

		{% if pagination is defined %}
			<div class="pagination bg-light mt-0 mb-3 p-2 pr-0">
				{{ knp_pagination_render(pagination) }}
			</div>
		{% else %}
			<p>Aucune donnée de pagination trouvée.</p>
		{% endif %}

		{% include 'components/findUs.html.twig' %}
	</div>
{% endblock %}
