{% extends 'base.html.twig' %}

{% block title %}
  Événements
{% endblock %}

{% block body %}
  <div class="container mt-2">
    <h1 class="text-center">Liste des Événements</h1>

    <div class="mb-2 pl-md-5">
      <ul class="list-unstyled text-primary">
        <li class="ml-3">Découvrez tous les événements que La Momposina Tienda Latina vous propose tout au long de l'année :</li>
        <ul>
          <li>Repas, concerts, rencontres.</li>
          <li>Fiesta Latina autour de l’environnement « Latino Grenoble » !</li>
        </ul>
      </ul>
    </div>

    <div class="row">
      {% for evenement in pagination %}
        <div class="col-md-4 col-sm-6 mb-3 fond">
          <div class="card border-0 bg-dark text-white h-100 d-flex flex-column">
            <div class="card-header text-center">{{ evenement.titre starts with 'Programme' ? evenement.titre : evenement.date|date('Y-m-d')|date_en_lettres }}</div>
            <div class="card-img-top" style="height: 56%;">
              <img src="{{ evenement.photo1 ? asset('images/' ~ evenement.photo1) : asset('images/default.jpeg') }}" alt="{{ evenement.titre }}" class="img-fluid h-100 w-100 object-fit-cover pointer" data-bs-toggle="modal" data-bs-target="#imageModal{{ loop.index }}" />
            </div>
            <div class="card-body bg-white text-dark d-flex flex-column flex-grow-1">
              <h2 class="card-title text-primary h2petit">{{ evenement.titre }}</h2>
              <p>
                <i class="fas fa-align-left"></i> {{ evenement.description }}
              </p>
              <p>
                {% if evenement.plageHeure %}
                  <i class="fas fa-clock"></i> <span class="mr-4">{{ evenement.plageHeure }}</span>
                {% endif %}
                {% if evenement.prix > 0 %}
                  <span><i class="fas fa-euro-sign"></i> {{ evenement.prix|number_format(2, ',', ' ') }}</span>
                {% else %}
                  <span>Gratuit</span>
                {% endif %}
              </p>

              <p>
                <i class="fas fa-map-marker-alt"></i> {{ evenement.lieu }}
              </p>
            </div>
          </div>

          <div class="modal fade" id="imageModal{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel{{ loop.index }}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h2 class="modal-title text-center text-dark w-100" id="imageModalLabel{{ loop.index }}">{{ evenement.titre }}</h2>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                  <img src="{{ evenement.photo1 ? asset('images/' ~ evenement.photo1) : asset('images/default.jpeg') }}" alt="{{ evenement.titre }}" class="img-fluid" />
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="pagination">{{ knp_pagination_render(pagination) }}</div>
    {% include 'components/findUs.html.twig' %}
  </div>
{% endblock %}
