{# templates/main/plats.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}
  Plats
{% endblock %}
{% block meta_description %}
  Découvrez tous les repas latino que La Momposina Tienda Latina vous propose tout au long de l'année à Grenoble.
{% endblock %}
{% block body %}
  <div class="container-fluid mt-3">
    <h1 class="text-center pb-2">
      Plats Momposina
    </h1>
    <div class="section">
      <p class="text-center">
        Venez visiter la boutique pour connaître la gamme complète du mois. Vous trouverez des nouveautés tous les jours.
      </br>
      N’HÉSITEZ PAS À NOUS DEMANDER QUEL EST LE PLAT DE LA SEMAINE!
    </p>
  </div>
  <div class="row">
    {% for plat in plats %}
      <div class="col-md-4 col-sm-6 mb-3">
        <div class="card h-100">
          <div class="ratio ratio-4x3">
            <img src="{{ asset('images/' ~ plat.photo1) }}" alt="Photo d'un plat vendu par Momposina:{{ plat.nom }}" class="card-img-top" data-bs-toggle="modal" data-bs-target="#imageModal{{ loop.index }}" style="cursor: pointer;" />
          </div>
          <div class="card-body card-gradient-bleu bg-blue">
            <h2 class="card-title">
              {{ plat.nom }}
            </h2>
            {% set description = plat.description|split('.') %}
            <p class="card-text ">
              {{ description[0] }}
              .
            </p>
            {% if description|length > 1 %}
              <p class="card-text">
                {{ description[1] }}
                .
              </p>
            {% endif %}
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="imageModal{{ loop.index }}" tabindex="-1" aria-labelledby="imageModalLabel{{ loop.index }}" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title text-center text-dark w-100" id="imageModalLabel{{ loop.index }}">
                  {{ plat.nom }}
                </h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">
                    &times;
                  </span>
                </button>
              </div>
              <div class="modal-body d-flex justify-content-center">
                <img src="{{ asset('images/' ~ plat.photo1) }}" class="img-fluid" />
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>{% endblock %}