{% extends 'base.html.twig' %}

{% block body %}
    <div class="container form-container">
        {{ form_start(form) }}

        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.nom) }}
                {{ form_row(form.nomEs) }}
                {{ form_row(form.description, {'attr': {'rows': '3'}}) }}
                {{ form_row(form.pays) }}
                {{ form_row(form.marque) }}
                {{ form_row(form.visibleWeb) }}
                {{ form_row(form.user) }}
                {{ form_row(form.sousCategorie) }}
            </div>

            <div class="col-md-6">
                <div class="image-container" id="image-preview">
                    <img src="{{ asset('/images/' ~ produit.photo1) }}" alt="Photo" style="height: 30vh; display: block; margin: 0 auto;">
                    {{ form_row(form.photo1) }}
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Enregistrer</button>
        {{ form_end(form) }}
        <a href="{{ path('app_produit_index') }}" class="btn btn-secondary">Retour à la liste</a>
    </div>
{% endblock %}
