{% extends 'base.html.twig' %}

{% block body %}
<div class="container form-container">
    <h1 class="text-white">Modification du Produit</h1>
    {{ form_start(form) }}

    <div class="row">
        <div class="col-md-8">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label text-left text-white">{{ form_label(form.nom) }}</label>
                <div class="col-sm-8">
                    {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label text-left text-white">{{ form_label(form.nomEs) }}</label>
                <div class="col-sm-8">
                    {{ form_widget(form.nomEs, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label text-left text-white">{{ form_label(form.description) }}</label>
                <div class="col-sm-8">
                    {{ form_widget(form.description, {'attr': {'rows': '3', 'class': 'form-control', 'style': 'width:
                    100%;'}}) }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label text-left text-white">{{ form_label(form.pays) }}</label>
                <div class="col-sm-8">
                    {{ form_widget(form.pays, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label text-left text-white">{{ form_label(form.marque) }}</label>
                <div class="col-sm-8">
                    {{ form_widget(form.marque, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label text-left text-white">{{ form_label(form.visibleWeb) }}</label>
                <div class="col-sm-8">
                    {{ form_widget(form.visibleWeb, {'attr': {'class': 'form-check-input'}}) }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label text-left text-white">{{ form_label(form.user) }}</label>
                <div class="col-sm-8">
                    {{ form_widget(form.user, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label text-left text-white">{{ form_label(form.sousCategorie) }}</label>
                <div class="col-sm-8">
                    {{ form_widget(form.sousCategorie, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="image-container" id="image-preview">
                <img src="{{ produit and produit.photo1 ? asset('images/' ~ produit.photo1) : '' }}"
                    alt="{{ produit.nom }}" class="img-fluid"style="height: 50vh; display: '{{ produit and produit.photo1 ? 'block' : 'none' }}'; margin: 0 auto;">
                {{ form_row(form.photo1) }}
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    {# <button type="submit" class="btn btn-primary" {{ has_unsaved_changes ? '' : 'disabled' }}>{{
        button_label|default('Enregistrer') }}</button> #}

    {{ form_end(form) }}

    <a href="{{ path('app_produit_index') }}" class="btn btn-secondary">Retour à la liste</a>
</div>
{% endblock %}

{% block javascripts %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const form = document.querySelector('form') // Assuming form is the main form element
      const imageInput = form.querySelector('#{{ form.photo1.vars.id }}') // Use form.querySelector for better separation
      const imagePreview = document.querySelector('#image-preview img')
      const saveButton = document.querySelector('.btn-primary')
      const backToListButton = document.querySelector('.btn-secondary')
      const formElements = document.querySelectorAll('input[type="text"], textarea')
    
      if (imageInput) {
        imageInput.addEventListener('change', function (event) {
          if (event.target.files && event.target.files[0]) {
            const reader = new FileReader()
            reader.onload = function (e) {
              imagePreview.src = e.target.result
              imagePreview.style.display = 'block'
            }
            reader.readAsDataURL(event.target.files[0])
          } else {
            imagePreview.src = '{{ produit and produit.photo1 ? asset("images/" ~ produit.photo1) : "" }}'
            imagePreview.style.display = '{{ produit and produit.photo1 ? "block" : "none" }}'
          }
        })
      }
    
      // if (imageInput1) {
      //     updateImagePreview(imageInput1, imagePreview1);
      // }
    
      let formChanged = false
    
      formElements.forEach((element) => {
        element.addEventListener('input', () => {
          formChanged = true
          saveButton.disabled = false
          backToListButton.disabled = false
        })
      })
    
      saveButton.addEventListener('click', (event) => {
        formChanged = false
      })
    
      backToListButton.addEventListener('click', (event) => {
        if (formChanged) {
          event.preventDefault()
          if (confirm('Vous avez des modifications non enregistrées. Êtes-vous sûr de vouloir quitter ?')) {
            window.location.href = backToListButton.href
          }
        }
      })
    })
  </script>
{% endblock %}
