{% extends 'base.html.twig' %}
{# templates/main/produit_det.html.twig #}
{% block title %}
  {{ sousCategorieNom }}
  - La Momposina
{% endblock %}
{% block body %}
  <div class="container-fluid produits-container p-0 mt-3">
    <!-- Titre principal -->
    <h1 class="text-center pb-2">
      {{ sousCategorieNom }}
    </h1>
    <!-- Section d'introduction -->
    <div class="section">
      <p class="text-center">
        Venez visiter la boutique pour connaître la gamme complète du mois. Vous trouverez des nouveautés tous les jours.
      </p>
      <p class="text-secondary text-center fw-semibold">
        N’HÉSITEZ PAS À NOUS DEMANDER QUEL EST LE PLAT DE LA SEMAINE!
      </p>
    </div>
    <!-- Barre de recherche -->
    <div class="search-bar d-flex justify-content-center align-items-center mt-1 mb-2">
      {{ form_start(formResearch, {'attr': {'class': 'form-inline d-flex'}, 'method': 'GET'}) }}
      {# {{ form_start(formResearch, {'attr': {'class': 'form-inline d-flex position-relative'}, 'method': 'GET'}) }} #}
      <div class="input-group w-100">
        {{ form_widget(formResearch.query, {'attr': {'class': 'form-control form-control-search col-8', 'placeholder': 'Chercher un produit', 'id': 'searchQuery' }}
        ) }}
        <button type="submit" class="btn btn-primary col-4 ms-2 btn-search" title="Rechercher">
          Rechercher
        </button>
      </div>
      {# <img src="{{ asset('icons/envelope-at-fill.svg') }}" alt="Email"> #}
      {{ form_end(formResearch) }}
    </div>
    <!-- Résultats de recherche -->
    {% if pagination.items is not empty %}
      <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-3 justify-content-start mx-3">
        {% for produit in pagination.items %}
          <!-- Colonne de produit -->
          <div class="col">
            <div class="card h-70 bg-light text-black">
              <!-- Image du produit -->
              <img src="{{ produit.photo1 ? asset('images/' ~ produit.photo1) : asset('images/default.jpeg') }}" class="card-img-top img-fluid fixed-size-image" alt="{{ produit.nom }}" onmouseover="this.style.transform='scale(1.05)'; this.style.transition='transform 0.2s ease-in-out';" onmouseout="this.style.transform='scale(1)';">
                <!-- Contenu de la carte -->
                <div class="card-body d-flex flex-column">
                  <h2 class="card-title h4 text-center">
                    {{ produit.nom }}
                  </h2>
                  <p class="pe-1 ps-1">
                    {{ produit.description }}
                  </p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <!-- Pagination -->
        <div class="pagination justify-content-center mt-4">
          {{ knp_pagination_render(pagination) }}
        </div>
      {% else %}
        <p class="text-center mt-3">
          Aucun produit trouvé pour "
          {{ formResearch.query.vars.value }}
          ".
        </p>
      {% endif %}
    </div>
  {% endblock %}
  