{% extends 'base.html.twig' %}
{# templates/produit/produit_detail.html.twig #}
{% block title %}
  {{ pageTitle }}
{% endblock %}

{% block body %}
  <div class="container mt-3">
    <h1 class="text-center">{{ sousCategorieNom }}</h1>

    <div class="section text-yellow">
      <p>Venez visiter la boutique pour connaître la gamme complète du mois. Vous trouverez des nouveautés tous les jours</p>
    </div>

    {# Zone de recherche #}
    <div class="search-bar d-flex justify-content-center mt-4 mb-3">
      {{ form_start(formResearch, {'attr': {'class': 'form-inline'}}) }}
        <div class="form-group mb-2">
          {{ form_widget(formResearch.query) }}
        </div>
        <button type="submit" class="btn btn-primary d-none ml-2">Chercher</button>
      {{ form_end(formResearch) }}
    </div>

    {# Résultats de la recherche #}
    {% if pagination.items is not empty %}
      <div class="row mt-4">
        {% for produit in pagination.items %}
          {# <div class="col-md-3 col-sm-6 mb-3"> #}
          <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
  <div class="card h-100 bg-light text-black">
    <img src="{{ produit.photo1 ? asset('images/' ~ produit.photo1) : asset('images/default.jpeg') }}" class="card-img-top img-fluid fixed-size-image" alt="{{ produit.nom }}">
              <div class="card-body bg-black d-flex flex-column">
                <h2 class="card-title" style="font-size: 1.2rem;">{{ produit.nom }}</h2>
                <p class="card-text">{{ produit.description }}</p>
                {% if produit.sousCategorie == 'Alimentation' %}
                  <a href="{{ path('app_alimentation_detail', { 'id': produit.id }) }}" class="btn btn-primary mt-auto">Voir les détails AL</a>
                {% elseif produit.sousCategorie == 'Boisson' %}
                  <a href="{{ path('app_boisson_detail', { 'id': produit.id }) }}" class="btn btn-primary mt-auto">Voir les détails B</a>
                {% elseif produit.sousCategorie == 'Plats' %}
                  <a href="{{ path('app_plats_detail', { 'id': produit.id }) }}" class="btn btn-primary mt-auto">Voir les détails PL</a>
                {% endif %}
            </div>          
          </div>          

            {# Modal pour afficher l'image en grand #}
            <div class="modal fade" id="imageModal{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel{{ loop.index }}" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h2 class="modal-title text-light" id="imageModalLabel{{ loop.index }}">{{ produit.nom }}</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <img src="{{ produit.photo1 ? asset('images/' ~ produit.photo1) : asset('images/default.jpeg') }}" class="img-fluid" alt="{{ produit.nom }}" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="pagination justify-content-center mt-4">
        {{ knp_pagination_render(pagination) }}
      </div>
    {% else %}
      <p class="text-center mt-3">Aucun produit trouvé pour "{{ formResearch.query.vars.value }}".</p>
    {% endif %}
  </div>
{% endblock %}
