<form method="post" action="{{ path('app_evenement_delete', {'id': evenement.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evenement.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>

{# {% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Supprimer l'Événement</h1>

        <p>Êtes-vous sûr de vouloir supprimer cet événement ?</p>

        <form method="post" action="{{ path('app_evenement_delete', {'id': evenement.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet événement ?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evenement.id) }}">
            <button class="btn btn-danger">Supprimer</button>
            <a href="{{ path('app_evenement_index') }}" class="btn btn-secondary">Annuler</a>
        </form>
    </div>
{% endblock %} #}
