{% extends 'base.html.twig' %}

{% block body %}
<div class="container form-container">
    <h1>Modifier l'Événement</h1>
    {{ form_start(form) }}

    <div class="row">
        <div class="col-md-6 text-white">
            {{ form_row(form.titre) }}
            {{ form_row(form.description, {'attr': {'rows': '3'}}) }}
            {{ form_row(form.date) }}
            {{ form_row(form.plageHeure) }}
            {{ form_row(form.lieu) }}
            {{ form_row(form.prix) }}
            {{ form_row(form.visibleWeb) }}
            {{ form_row(form.user) }}
        </div>
        <div class="col-md-6">
            <div class="image-container" id="image-preview">
                <img src="{{ evenement and evenement.photo1 ? asset('images/' ~ evenement.photo1) : '' }}" alt="Photo" style="height: 70vh; display: '{{ evenement and evenement.photo1 ? 'block' : 'none' }}'; margin: 0 auto;">
                {{ form_row(form.photo1) }}
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('app_evenement_index') }}" class="btn btn-secondary">Retour à la liste</a>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const imageInput = document.querySelector('#{{ form.photo1.vars.id }}');
            const imagePreview = document.querySelector('#image-preview img');

            if (imageInput) {
                imageInput.addEventListener('change', function (event) {
                    if (event.target.files && event.target.files[0]) {
                        const reader = new FileReader();
                        reader.onload = function (e) {
                            imagePreview.src = e.target.result;
                            imagePreview.style.display = 'block';
                        };
                        reader.readAsDataURL(event.target.files[0]);
                    } else {
                        imagePreview.src = "{{ evenement and evenement.photo1 ? asset('images/' ~ evenement.photo1) : '' }}";
                        imagePreview.style.display = "{{ evenement and evenement.photo1 ? 'block' : 'none' }}";
                    }
                });
            }
        });
    </script>
</div>
{% endblock %}
