{% extends 'base.html.twig' %}

{% block title %}Liste des Événements
{% endblock %}

{% block body %}

	<div class="container mt-3">
		<h1 class="text-center">Liste des Événements</h1>

		<div class="table-responsive">
			<table class="table table-striped text-white">
				<thead>
					<tr>
						<th>Id</th>
						<th>Titre</th>
						<th>Description</th>
						<th>Date</th>
						<th>Plage Horaire</th>
						<th>Lieu</th>
						<th>Prix</th>
						<th>Photo1</th>
						<th>Visible</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for evenement in pagination.items %}
						<tr class="align-middle">
							<td>{{ evenement.id }}</td>
							<td>{{ evenement.titre }}</td>
							<td>{{ evenement.description }}</td>
							<td>{{ evenement.date ? evenement.date|date('d-m-Y') : '' }}</td>
							<td>{{ evenement.plageHeure }}</td>
							<td>{{ evenement.lieu }}</td>
							<td>{{ evenement.prix }}</td>
							<td>{% if evenement.photo1 %}
									<img src="{{ asset('images/' ~ evenement.photo1) }}" alt="{{ evenement.titre }}" class="img-fluid object-fit-cover object-position-center" style="width: 100px; height: 100px;"/>
								{% else %}
									Pas de photo
								{% endif %}
							</td>
							<td>{{ evenement.visibleWeb ? 'Oui' : 'Non' }}</td>
							<td>
								<a href="{{ path('app_evenement_show', {'id': evenement.id}) }}" class="btn btn-info btn-sm custom-btn">Voir</a>
								<a href="{{ path('app_evenement_edit', {'id': evenement.id}) }}" class="btn btn-primary btn-sm custom-btn">Modifier</a>
								<form method="post" action="{{ path('app_evenement_delete', { id: evenement.id }) }}" style="display:inline;" onsubmit="return confirm('Vous êtes sure de supprimer cet évènement?');">
									<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evenement.id) }}" />
									<button class="btn btn-danger btn-sm custom-btn">Supprimer</button>
								</form>								
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="10">Aucun événement trouvé</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="pagination justify-content-center">
			{{ knp_pagination_render(pagination) }}
		</div>
		<div class="mt-1 pb-1">
			<a href="{{ path('app_evenement_new') }}" class="btn btn-success mt-3">Créer un nouvel événement</a>
		</div>
	</div>
{% endblock %}
