{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="container">
            <h1>{{ sous_menu_title }}</h1>
            <div class="first-part">
                <p class="text-warning">Venez visiter la boutique pour connaître la gamme complète du mois. Vous trouverez des nouveautés tous les jours</p>
                <p class="text-warning">N’HÉSITEZ  PAS À NOUS DEMANDER QUEL EST LE PLAT DE LA SEMAINE!</p>
            </div>
            <div class="second-part">
                <form action="{{ path('recherche_produit') }}" method="get">
                    <input type="text" name="query" placeholder="Chercher un produit" class="form-control">
                </form>
            </div>
            <div class="third-part row">
                {% for produit in produits %}
                    <div class="col-md-6">
                        <img src="{{ produit.image }}" class="img-fluid" alt="{{ produit.nom }}">
                        <div class="product-details">
                            <h5>{{ produit.nom }}</h5>
                            {% if produit.nom_es %}
                                <h6>{{ produit.nom_es }}</h6>
                            {% endif %}
                            <p>{{ produit.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="fourth-part">
                {{ knp_pagination_render(produits) }}
            </div>
        </div>
    </section>
    {% include 'components/footer.html.twig' %}
{% endblock %}
