{# templates/components/header.html.twig #}
<header>
  <div class="container-fluid d-flex flex-wrap justify-content-between align-items-center">
    <div class="col-md-1 my-1">
      <div class="logo">
        <img src="{{ asset('images/logo/momposina.webp') }}" alt="Logo momposina" class="img-fluid" />
      </div>
    </div>
    <div class="col-md-10 middle-section">
      <div class="message">
        <marquee behavior="scroll" direction="left">LA MOMPOSINA - Tienda Latina - Epicerie Latino Grenoble</marquee>
      </div>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ path('app_evenements') }}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_evenements') }}">Événements</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_presentation') }}">Présentation</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="alimentationDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Alimentation</a>
              <div class="dropdown-menu" aria-labelledby="alimentationDropdown">
                <div class="dropdown-item-container">
                  <a class="dropdown-item" href="{{ path('app_alimentation_detail', { id: 4 }) }}">Confiserie</a>
                  <a class="dropdown-item" href="{{ path('app_alimentation_detail', { id: 5 }) }}">Farines</a>
                  <a class="dropdown-item" href="{{ path('app_alimentation_detail', { id: 6 }) }}">Fromages</a>
                  <a class="dropdown-item" href="{{ path('app_alimentation_detail', { id: 7 }) }}">Sauces & Épices</a>
                  <a class="dropdown-item" href="{{ path('app_alimentation_detail', { id: 8 }) }}">Saucisses</a>
                </div>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="boissonDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Boisson</a>
              <div class="dropdown-menu" aria-labelledby="boissonDropdown">
                <div class="dropdown-item-container">
                  <a class="dropdown-item" href="{{ path('app_boisson_detail', { id: 9 }) }}">Bières</a>
                  <a class="dropdown-item" href="{{ path('app_boisson_detail', { id: 10 }) }}">Cafés</a>
                  <a class="dropdown-item" href="{{ path('app_boisson_detail', { id: 11 }) }}">Mate</a>
                  <a class="dropdown-item" href="{{ path('app_boisson_detail', { id: 12 }) }}">Spiritueux</a>
                  <a class="dropdown-item" href="{{ path('app_boisson_detail', { id: 13 }) }}">Vins</a>
                </div>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_plats') }}">Plats</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_galerie') }}">Galerie</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_contact') }}">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="col-md-1 user-icon mt-auto mb-auto text-center">
      <i class="fas fa-user-circle"></i>
    </div>
  </div>
</header>
